@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
img {
  width: 100%;
}
html {
  font-size: 16px;
}
:root {
  --left-background-color: #1c1e53;
  --button-background-color: #fcd980;
  --font-color: #fff;
  --button-font-color: black;
}

.left {
  background-image: linear-gradient(
      rgba(28, 30, 83, 0.5),
      rgba(28, 30, 83, 0.5)
    ),
    url(/image/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--font-color);
}

.registration-page {
  display: flex;
}
.right {
  background-color: #1c1e53;
  color: var(--font-color);
}

input {
  display: block;
  background-color: transparent;
  margin: 1.5rem 0rem;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 0.7rem 2rem;
  border-radius: 5px;
}
a {
  color: var(--font-color);
}
button {
  background-color: var(--button-background-color);
  width: 100%;
  border: 0;
  outline: 0;
  color: var(--button-font-color);
  padding: 0.5rem 2rem;
}
@media screen and (min-width: 650px) {
  .right h3 {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .right p {
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  ::placeholder {
    font-size: 16px;
    font-weight: 400;
  }
  button {
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
  }
  .right h4 {
    margin-top: 1rem;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
  }
  .right {
    height: 550px;
    width: 100%;

    padding: 3rem 5rem;
  }
  .registration-page {
    padding: 6rem 5rem;
  }
  .left p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.5rem;
  }
  .left h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.5;
  }
  .left {
    height: 550px;
    width: 100%;
    padding: 3rem;
  }
}
@media screen and (min-width: 100px) and (max-width: 650px) {
  .registration-page {
    padding: 0.2rem 0.2rem;
    flex-direction: column;
  }
  .left {
    height: auto;
    padding: 1rem;
  }
  .left h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
  }
  .left p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1.5rem;
  }
  .right {
    background-color: #1c1e53;
    height: auto;
    width: 100%;
    color: var(--font-color);
    padding: 0.5rem 1.8rem;
  }
  .right p {
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
  }

  .right h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.2rem;
  }
  .right h4 {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
  }
  button {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  input {
    padding: 0.5rem 2rem;
  }
  ::placeholder {
    font-size: 15px;
    font-weight: 400;
  }
}
